{% extends 'layouts/application.html' %}

{% block content %}
<header>
  <h1>Pill<br>Boxer</h1>
  <p>Because not everyone fits in.</p> 
</header>

  <div class="container">
    <div class="upload-wrapper text-center">
      <h3>Step 1.</h3>
      <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
      <br>
      <label class="btn btn-lg btn-upload" for="uploadImage" title="Upload image">
        <input type="file" class="sr-only" id="uploadImage" name="file" accept=".jpg, .jpeg, .png, .gif, .bmp, tiff">
        <span>Upload image</span>
      </label>
      <br>
      <span class="drag-text">or drag it here</span>
    </div> 
    <div class="row">
      <div class="col-md-9 hidden">
        <div class="img-container">
          <img src="images/demo.png" alt="" id="image">
        </div>
      </div>  
  
    <div class="col-md-3 hidden">
      <h3>Step 2.</h3>
      <p class="step-note">Note: The image's size is <em>not</em> being reduced</p>
      <button type="button" class="btn btn-fit">Fit image</button>
      <h3>Step 3.</h3>
      <p>Select background color</p>
      <div class="color-buttons">
        <button type="button" class="btn btn-dark" data-fillColor="#000">Black</button>
        <button type="button" class="btn btn-light" data-fillColor="#fff">White</button>
      </div>
      <h3>Step 4.</h3>
      <button type="button" class="btn btn-download" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">Download new image</button>

      <button type="button" class="btn btn-destory">Start over</button>
    </div>
    </div>

    <div class="footer">
      <span>Not working as expected? Email <a href="mailto:aalbright@miamiherald.com?subject=Pill%20Boxer%20help">Aaron Albright</a></span>
      <span class="version">v0.3.3</span>
    </div>

  </div> <!-- /.container -->

<div class="modal fade" id="croppedModal" role="dialog" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Final Image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Back</button>
        <a class="btn btn-primary" id="download" href="javascript:void(0);" download=""><i class="fa fa-download" aria-hidden="true"></i> Download</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
