{% extends 'layouts/application.html' %}

{% block content %}
<header>
    <h1>Pill<br>Boxer</h1>
  <p>Crop photos to fit your website in four easy steps.</p> 
  <button class="how-to btn" href="#">How to get the most out of Pill Boxer</button>
</header>

  <main role="main" class="container">
    <div class="upload-wrapper text-center">
      <h3>Step 1.</h3>
      <i class="fa fa-upload fa-5x" aria-hidden="true"></i>
      <br>
      <label class="btn btn-lg btn-upload" for="uploadImage" title="Upload image">
        <input type="file" class="sr-only" id="uploadImage" name="file" accept=".jpg, .jpeg, .gif, .bmp, .png">
        <span>Upload image</span>
      </label>
      <br>
      <span class="drag-text">or drag it here</span>
    </div> 
    <div class="row">
      <div class="col hidden">
        <div class="img-container">
          <img src="" alt="" id="image">
        </div>
      </div>  
  
    <div class="col-3 hidden">
      <h3>Step 2.</h3>
      <p class="step-note">Note: The image's size is <em>not</em> being reduced</p>
      <button type="button" class="btn btn-fit">Fit image</button>
      <h3>Step 3.</h3>
      <p>Select background color</p>
      <div class="color-buttons">
        <button type="button" class="btn btn-dark" data-fillColor="#000">Black</button>
        <button type="button" class="btn btn-light" data-fillColor="#fff">White</button>
      </div>
      <h3>Step 4.</h3>
      <!-- <a class="btn btn-primary" id="download" href="javascript:void(0);" download="">
        <i class="fa fa-download" aria-hidden="true"></i> Download</a> -->
      <button type="button" class="btn btn-download">Download new image</button>

      <button type="button" class="btn btn-destroy">Start over</button>
    </div>
    </div>

  </main> <!-- /.container -->

  <footer class="footer">
        <span>Not working as expected? Email Aaron Albright | 
         <a href="mailto:aalbright@miamiherald.com?subject=Pill%20Boxer%20help">aalbright@miamiherald.com</a>
        </span>
        <span class="version">v0.5.2</span>
  </footer>

<div class="modal fade" id="croppedModal" role="dialog" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Final image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Back</button>
        <a class="btn btn-primary" id="download" href="javascript:void(0);" download=""><i class="fa fa-download" aria-hidden="true"></i> Download</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="whatsNew" role="dialog" aria-hidden="true" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">How to get the most out of Pill Boxer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li>Use JPEG/JPG files and avoid PNG files.</li>
          <li>Make sure your image is less than:</li>
          <ul>
            <li>3,500px on it's longest side</li>
            <li>2MB in size</li>
          </ul>
        </ul>
        <p>If you're still unable to download the cropped image, trying using Pill Boxer in Firefox.</p>
      </div>
    </div>
  </div>
</div>

<div class="warning">
  <div class="warning--popup alert-warning">
    <h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h2>
    <div class="popup--info">

    </div>
    <p>If this issue persists, feel free to email Aaron Albright (aalbright@miamiherald.com) for help.</p>
    <button class="btn btn-destroy">Restart</button>
  </div>
</div>

{% endblock %}
