@import "base/animations";
@import "base/othercropper";
@import "base/warning";

$green: #31b55f;
$blue: #0A6EA9;
body {
    font-family: "McClatchy Sans";
    background-color: #ececec;
    color: #444;
}

header {
    text-align: center;
    h1 {
        font-size: 3.5rem;
        display: inline-block;
        padding: 5px 8px;
        border-left: 35px solid #444;
        border-right: 35px solid #444;
        line-height: 1;
    }
    margin-top: 1em;
    margin-bottom: 2em;
}

main.container {
    margin-bottom: 100px;
}

#image {
    max-width: 100%;
}

label {
    margin-bottom: 0;
}

.footer {
    position: fixed;
    letter-spacing: 1px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    text-align: left;
    font-size: 15px;
    width: 100%;
    color: #ececec;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    background-color: rgba(68, 68, 68, .7);
    .version {
        position: absolute;
        right: 20px;
        font-size: 12px;
    }
    a {
        color: #ffd000;
        text-decoration: underline;
    }
}

.col-md-3,
.col-md-9 {
    opacity: 1;
    visibility: visible;
    transition: opacity .33s .25s, visibility .33s .25s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.img-container {
    width: 100%;
    max-height: 503.44px;
    min-height: 200px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .img-container {
        min-height: 500px
    }
}

.col-md-3 p {
    font-size: .8rem;
    margin-bottom: .5rem;
}

.upload-wrapper {
    width: 60%;
    outline: 2px dashed $green;
    outline-offset: -10px;
    margin-top: 10%;
    transition: margin-top .25s, outline-offset .15s ease-in-out;
    padding: 5%;
    background-color: rgba(49, 180, 95, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.move {
    outline: unset;
    margin-top: 0;
    padding: 0;
    background: none;
    .fa-upload {
        display: none;
    }
    br {
        display: none;
    }
}

.fa-upload {
    color: $green;
    margin: .5em;
}

.is-dragover {
    background-color: #fff;
    outline-color: rgba(49, 180, 95, 0.5);
    outline-offset: -20px;
    &.move {
        background: none;
    }
}

/***************
* MODAL STYLES *
****************/

#croppedModal .modal-body {
    text-align: center;
}

#croppedModal .modal-content {
    background-color: #ececec;
    border: 0;
    border-radius: 2px;
    .modal-footer,
    .modal-header {
        border: none;
    }
}

.modal-body>img,
.modal-body>canvas {
    max-width: 100%;
}

#croppedModal .modal-title {
    margin-left: 50%;
    transform: translateX(-50%)
}

/****************
* BUTTON STYLES *
*****************/

.btn {
    margin-bottom: 1rem;
    border-radius: 2px;
    cursor: pointer;
    border: none;
}

.how-to {
    position: relative;
    border-radius: 2px;
    color: #fff;
    background: #0FA0F5;
    box-shadow: 0 6px #0B76B6;
    padding: 15px 18px;
    border: none;
    transition: none;
    &:hover {
    box-shadow: 0 4px #0B76B6;
    top: 2px;
    }
    &:active {
    box-shadow: 0 0 #0B76B6;
    top: 6px;
    }
    &:focus {
        outline: unset;
        box-shadow: 0 0 #0B76B6;
        top: 6px;
    }
}

.btn-upload {
    color: #fff;
    background-color: $green;
    &:hover {
        cursor: pointer;
        background-color: #258b47;
    }
}

.btn-download,
.btn-fit,
.btn-primary {
    background-color: $blue;
    border-radius: 2px;
    color: #fff;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: rgb(8, 79, 121);
        border: none;
    }
}

.btn-dark {
    margin-right: 1em;
}

.btn-destroy {
    position: absolute;
    bottom: 0;
    left: 15px;
    background-color: rgba(220, 34, 40, .85);
    color: #fff;
    &:hover {
        cursor: pointer;
        background-color: rgb(192, 41, 46);
    }
}