.upload-wrapper {
    width: 60%;
    outline: 2px dashed $green;
    outline-offset: -10px;
    margin-top: 10%;
    transition: margin-top .25s, outline-offset .15s ease-in-out;
    padding: 5%;
    background-color: rgba(49, 180, 95, 0.2);
    margin-left: auto;
    margin-right: auto;
}

.fa-upload {
    color: $green;
    margin: .5em;
}

.move {
    outline: unset;
    margin-top: 0;
    padding: 0;
    background: none;
    .fa-upload {
        display: none;
    }
    br {
        display: none;
    }
}

.is-dragover {
    background-color: #fff;
    outline-color: rgba(49, 180, 95, 0.5);
    outline-offset: -20px;
    &.move {
        background: none;
    }
}